body {
    background-color: black;
    margin: 10px;

}
figure {
    border: thin #30e40d solid;
    display: flex;
    flex-flow: column;
    margin: auto;
}

h2 {
    text-align: center;
    background-color: rgb(20, 153, 8);

}
h1{
    text-align: center;
    border: 2px solid rgb(31, 233, 31);
    color: rgb(140, 113, 113);

}

li {
    text-align: left;
    background-color: rgb(38, 172, 11);
    border: 2px solid black;

}

p {
    text-align: center;
    margin: 20px;
    padding: 50px 25px;

}

div {
    text-align: center;
}

button {
    background-color:green;
    margin-bottom: 1px;
    padding: 8px 10px;
    

}